body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fundo.png);
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho > h1 {
    margin-bottom: 20px;
}

.logo {
    width: 30%;
}

.conteiner {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-primeiro);
    padding: 30px;
    width: 100vw;
    height:100vh;
    border-radius: 10px;
}

.camposInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.radios {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radios > input {
    margin-right: 12px;
}

.radios > label {
    margin-right: 5px;
}

.camposInputs > input {
    margin-bottom: 10px;
}

.servicos > select {
    margin: 3px;
}

.btn {
    margin-top: 20px;
}

button {
    width: 200px;
    margin: 10px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: var(--color-botoes);
    color: var(--fundo-primeiro);
    font-weight: 600;
}

button:hover {
    background-color: var(--cor-hover);
}


/* Daqui pra frente estilização do recibo */

.recibo-pronto {
    padding: 10px;
    width: 80vw;
    height: 600px;
}


.cidade {
    display: flex;
    justify-content: right;
}

.assinatura {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.assinatura-caneta {
    transform: translateY(25px);
}



.btn {
    display: flex;
    justify-content: center;
}