* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

.div-logo > img {
    width: 30%;
    margin-bottom: 350px;
}

#corpo {
    margin-top: -300px;
}

.recibo-pronto {
    padding: 10px;
    width: 90vw;
    height: 100vh;
    
}

.assinatura .assinatura-caneta {
    margin-top: -35px;
}

.divBotão {
    display: none;
}